/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/partials/_navbar.scss */
#navbar {
  background: #d6e7fb;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 8px solid #222;
}

/* line 1, ../sass/partials/_menu.scss */
#navmenu {
  background: linear-gradient(#7ab1f1, #1d7be8);
  border: 4px solid #0f4b90;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
/* line 9, ../sass/partials/_menu.scss */
#navmenu li {
  border-right: 4px solid #0f4b90;
}
/* line 11, ../sass/partials/_menu.scss */
#navmenu li a {
  color: white;
  font-size: 16pt;
}

/* line 19, ../sass/partials/_menu.scss */
#navmenu-wrapper {
  z-index: 99999;
  padding-right: 0;
  padding-left: 0;
  position: relative;
}

/* line 11, ../sass/screen.scss */
h1, h2, a, a:hover {
  color: #0f4b90;
}

/* line 15, ../sass/screen.scss */
body {
  border-bottom: 8px solid #0f4b90;
  background: linear-gradient(#ffffff, #d6e0cf);
}

/* line 20, ../sass/screen.scss */
.main-container {
  z-index: 1;
  margin-bottom: -20px;
}
/* line 21, ../sass/screen.scss */
.main-container > div {
  margin-top: 20px;
}
/* line 24, ../sass/screen.scss */
.main-container aside {
  margin-top: -118px;
  padding-top: 118px;
  min-height: 800px;
  background: #a8ccf6;
}

/* line 35, ../sass/screen.scss */
footer.footer {
  border: none;
  background: #0f4b90;
  height: 80px;
  margin: 0;
}
