/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */



@import "partials/colours";
@import "partials/navbar";

h1, h2, a, a:hover {
    color: $willowParkGreen;
}

body {
    border-bottom: 8px solid $willowParkGreen;
    background: linear-gradient(white, $bodyGradient);
}

.main-container {
    > div {
        margin-top: 20px;
    }
    aside {
        margin-top: -118px;
        padding-top: 118px;
        min-height: 800px;
        background: lighten($willowParkGreen,50%);        
    }
    z-index: 1;
    margin-bottom: -20px;
}


footer.footer {
    border: none;
    background: $willowParkGreen;
    height: 80px;
    margin: 0;
}