

$willowParkGreen: #3f4915;
$willowParkGreen: #0f4b90;


$willowParkLightYellow: #FDFEEF;
$willowParkLightYellow: lighten( $willowParkGreen, 60% );
$bodyGradient: #D6E0CF;


$menuColor: $willowParkGreen;
$navbarBackground: $willowParkLightYellow;
