#navmenu {
    background: linear-gradient(lighten($menuColor, 40%), lighten($menuColor, 20%));
    border: 4px solid $menuColor;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    
    li {
        border-right: 4px solid $menuColor;
        a {
            color: white;
            font-size: 16pt;
        }
    }
    
}

#navmenu-wrapper {
    z-index: 99999;
    padding-right: 0;
    padding-left: 0;
    position: relative;
}